<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title tit>To do list</title tit>
		<meta name="description" content="To do list">
		<meta name="author" content="Heleen Snoeck">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/dist/style.css">
	</head>
	<body>
		<main>
			<aside>
				<div class="logo_menu">
					<img src="/images/logo.png"/>
				</div>
				<div class="logo_signin">
					<img src="/images/signin.png"/>
				</div>
			</aside>
			<header>
				<section id="intro">
					<h1 class="title">The beauty of the web, bundled.</h1>
					<h2 class="subtitle">Create, discover and share Bundles of links about your favorite subjects.</h2>
					<button>What's bundlin all about?</button>
					<button class="register">Log in / Sign up</button>
				</section>
				<div class="logo">
					<img src="/images/intro-handcrafted.png">
					<img src="/images/logo_lifely.png">
				</div>
				<section id="background">
					<ul>
						<li><img class="one" src="/images/teamphoto-01.jpg"></li>
						<li><img class="two" src="/images/teamphoto-02.jpg"></li>
						<li><img class="tree" src="/images/teamphoto-03.jpg"></li>
						<li><img class="four" src="/images/teamphoto-04.jpg"></li>
						<li><img class="five" src="/images/teamphoto-05.jpg"></li>
					</ul>
				</section>
			</header>

			<section class="slider">
				<h3>Discover great bundles</h3>
				<hr>

				<section class="image_slider">
					<h1 class="title_slider">Introducing Swift</h1>
					<ul class="tags">
						<li class="tag"><p>apple</p></li>
						<li class="tag">swift</li>
						<li class="tag">ios</li>
						<li class="tag">decelopment</li>
					</ul>
					<footer class="article_info">
						<div class="title">
							<img src="/images/nick.jpg">
							<p class="name"><strong>Nick Coster</strong></p>
						</div>
						<p>Get ready to learn Apple's exciting new programming language. You'll be able to make your own iOS apps in no time.</p>
					</footer>


				</section>
			</section>

			<section class="content">
				<section class="experience">
					<h1>Creating the wow experience with bundles of web content.</h1>
					<p>You're constantly scouring the web discovering great content, leading to valuable selections of articles, videos and images on any subject of interest. Through Bundlin, you can capture and share these selections, transforming them into stunning looking bundles of indefinite existence.</p>
					<section class="info">	
						<article>
							<img src="/images/chair.png">
							<h1>Enjoy the experience</h1>
							<p>Bundlin offers you a fast, easy and seamless way to create stunning looking bundles of your favorite web content.</p>
						</article>
						<article>
							<img src="/images/book.png">
							<h1>Capture great content</h1>
							<p>Capture the valuable process of finding amazing content into great bundles of indefinite existence.</p>
						</article>	
						<article>
							<img src="/images/road.png">
							<h1>Add value to content</h1>
							<p>By selecting links and defining the relationships between those links, you make existing content more valuable.</p>
						</article>	
						<article>
							<img src="/images/bird.png">
							<h1>Share your content</h1>
							<p>Use Bundlin to share your passion and thoughts with the world, without having to create content yourself.</p>
						</article>		
					</section>
				</section>	
			</section>
			
			<section class="join">
				<section class="info_join">
					<h1>Join our awesome group of beta users!</h1>
					<p>Bundlin is still in an early phase of delevopment. We need your feedback in order to make Bundlin truly amazing. Are you passionate about product development, then please help us by testing bundlin. We only have room for 612 more beta accounts, so you better hurry up!</p>
					<button>Log in / Sign up</button>
				</section>
			</section>

			<section class="corousel">
				<ul>
					<li><img src="/images/intro-photoroll-01.jpg"></li>
					<li><img src="/images/intro-photoroll-02.jpg"></li>
					<li><img src="/images/intro-photoroll-03.jpg"></li>
					<li><img src="/images/intro-photoroll-04.jpg"></li>
				</ul>
			</section>

			<section class="team">
				<section class="info_join">
					<h1>Our team of dreamers.</h1>
					<p>Bundlin is handcrafted by Lifely. When we're not working for our awesome clients we spend every waking minute developing Bundlin.</p>
					<ul class="team_members">
						<li><img class="member_img" src="/images/pim.jpg"></li>
						<p class="member"><strong>Pim Verlaar</strong><br>Founder en design
						</p>
						<li><img class="member_img" src="/images/nick.jpg"></li>
						<p class="member"><strong>Nick de Bruijn</strong><br>Founder</p>
						<li><img class="member_img" src="/images/peter.jpg"></li>
						<p class="member"><strong>Peter Peerdeman</strong><br>Lead Tech</p>
						<li><img class="member_img" src="/images/bryan.jpg"></li>
						<p class="member"><strong>Bryan te Beek</strong><br>Coding</p>
						<li><img class="member_img" src="/images/jesse.jpg"></li>
						<p class="member"><strong>Jesse de Vriend</strong><br>Coding</p>
						<li><img class="member_img" src="/images/nick.k.jpg"></li>
						<p class="member"><strong>Nick Koster</strong><br>Coding</p>
						<li><img class="member_img" src="/images/take.jpg"></li>
						<p class="member"><strong>Take Lijzenga</strong><br>Design</p>
						<li><img class="member_img" src="/images/leon.jpg"></li>
						<p class="member"><strong>Leon Smit</strong><br>Coding</p>
						<li><img class="member_img" src="/images/janna.jpg"></li>
						<p class="member"><strong>Janna Boekema</strong><br>Content strategy</p>
					</ul>
					<section class="business">
						<span><img class="office" src="/images/team-01.jpg"></span>
						<span><img class="office" src="/images/team-02.jpg"></span>
						<span><img class="office_big" src="/images/team-03.jpg"></span>
					</section>
					<h1>more</h1>
				</section>
				<footer>
					<h1>Made with love in Amsterdam</h1>
					<p><a href="">nick@bundlin.com</a></p>
					<span><img src="">Twitter</span>
					<span><img src="">Facebook</span>
				</footer>
			</section>
</main>

<!-- <script src="/javascripts/animations.js"></script> -->
</body>
</html>
