<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title tit>To do list</title tit>
		<meta name="description" content="To do list">
		<meta name="author" content="Heleen Snoeck">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/dist/style.css">
	</head>
	<body>
		<main>
			<aside>
				<div class="logo_menu">
					<img src="/images/logo.png"/>
				</div>
				<div class="logo_signin">
					<img src="/images/logo.png"/>
				</div>
			</aside>
			<header>
				<section id="intro">
					<h1></h1>
					<h2></h2>
					<button>What's bundlin all about?</button>
					<h2 class="register">Log in / Sign up</h2>
				</section>
				<div class="logo">
					<img src="">
					<img src="">
				</div>
				<section id="background">
					<ul>
						<li><img src="/images/teamphoto-01.jpg"></li>
						<li><img src="/images/teamphoto-02.jpg"></li>
						<li><img src="/images/teamphoto-03.jpg"></li>
						<li><img src="/images/teamphoto-04.jpg"></li>
						<li><img src="/images/teamphoto-05.jpg"></li>
					</ul>
				</section>
			</header>
</main>

<!-- <script src="/javascripts/animations.js"></script> -->
</body>
</html>
